[Unit]
Description=Teamcity Server Service
After=docker.service
After=mysql.service
Requires=docker.service
Requires=mysql.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull omez/teamcity-server:develop
#ExecStartPre=-/usr/bin/docker stop %n
#ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --name %n --rm \
    -v /var/teamcity/%n/data:/data/teamcity_server/datadir \
    -v /var/teamcity/%n/logs:/opt/teamcity/logs  \
    -e TEAMCITY_SERVER_MEM_OPTS="-Xmx2g -XX:MaxPermSize=270m -XX:ReservedCodeCacheSize=350m" \
    -p 8111:8111 --net=host \
    omez/teamcity-server:develop
ExecStop=-/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target

